.step_one{
    background-image: url(step1.jpg);
    height: 91px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}
.marginb{
  margin-bottom: 40px;
}

.margint{
margin-top: 20px;

}

.step_two{
    background-image: url(step2.jpg);
    height: 91px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}

