.background-invite {

  background-color:#EAE5E7;
  // background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%);

}

.line-invite{
border-color: #333031;
border-style: solid;
border-width: 1px;
border-color: lightgray;
margin: 130px 1px 0px 1px;


}


.indent {
margin-left: 4px;
margin-right: 5px;


}

.framework-invite{
  width: 400px;
  margin-top: 20px;
  border-width: 2px;
  border-color: transparent;
  align: center;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 0px;
  padding: 0 10px 0 10px;

  height: 220px;

  margin-bottom: 20px;
}

.framework-invite-list{
  width: 400px;
  margin-top: 20px;
  border-width: 2px;
  border-color: transparent;
  align: center;
  background-color:transparent;
  padding-bottom: 20px;
  border-radius: 0px;
  min-height: 0px;
  margin-bottom: 20px;
}





.framework-details{
  margin-top: 20px;
  border-width: 2px;
  border-color: transparent;
  align: center;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 0px;
  width: 400;

  min-height: 300px;
  margin-bottom:20px;
}

.invite-title{
background-color: transparent;
color: black;
padding: 1px 0px 1px 4px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;

}

.invite-title h4 {
font-size: 25px;
font-family: Cabin;
}

ul.list-ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li.line-list  {

 padding: 8px 0px 8px 8px;
 border-bottom: 1px solid #ccc;
}

li:last-child.line-list  {
  border-bottom: 1px solid #ccc;
}

li:first-child.line-list  {
  border-top: 1px solid #ccc;
}

li.line-list  > a {
  text-decoration: none;
  color: #000;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li.line-list:nth-child(odd) { background-color: white;}

li.line-list:nth-child(even) { background-color: white;}


li.line-list:nth-child(even) > a:hover {
  color:#F32A00 ;


}

li.line-list:nth-child(odd) > a:hover {

 color:#F32A00 ;
}

.img-list-round {
border-radius: 50px;

}

.margin-l {
margin-left: 225px;
}

h2.deadline{
margin-bottom: 20px;


}

li.line-list:first-child {
border-top: white;

}

li.line-list:last-child {
border-bottom: white;

}

.margin-l-fa {
  margin-left: 5px;
}

// input[type=text].input-invite {
//     background-color: white;
//     background-position: 10px 10px;
//     background-repeat: no-repeat;
//     padding: 20px 0px 20px 0px;
//     margin-bottom: 20px;
//     box-shadow:inset 0 0 10px #000;

//     background: transparent;

// }
//
//
.form-group-search {
  position: relative;
  img {
    position: absolute;
    top: 11px;
    left: 9px;
    display: block;
    width: 16px;
  }
  .form-control {
    padding: 6px 12px 6px 30px;
  }
}

.button-margin {
margin-bottom: 15px;

}

 .search-resault-title {

 padding:5px 4px 0px 4px;
 background-color: white;
 margin-bottom: 0px;
 padding-bottom:10px;
 padding-right: 10px;
 padding-left: 10px;
 }


.btn-reset-margin {
margin-bottom: 12px;

}

.form-mail-margin {

  margin-bottom: 20px;
}




