p {
  font-size: 16px;
  font-weight: 300;
  color: black
}

h1, h2 {
  font-weight: 900;
  letter-spacing: 1px;
  color: red
}



h2 {
  font-size: 24px;
  font-weight: 400;
  color: black;
  letter-spacing: 1px
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: black;
  letter-spacing: 1px
}

a {
  font-size: 16px;
  font-weight: 400;
  color: black;
  letter-spacing: 1px
}

li {
  font-size: 16px;
  font-weight: 300;
  color: black;
  list-style: none;
}



body {
    font-family: "Lato", "Helvetica", "sans-serif";
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    background-color: white;
}

img {
  vertical-align: middle;
  width: 100%;
}
