<div class="foot">
  <ul class="list-inline text-center">
    <li>
      <a href="#">
        <i class="fa fa-youtube fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-facebook fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
    </li>
  </ul>
  <div class="lewagon text-center">
  <p>AdSmash made with love at lewagon</p>
  </div>
</div>
