<!-- list of users we have projects with -->
<% unless @colleagues_names.blank? %>
  <% @colleagues_names.each do |colleague| %>
    <li><%= link_to colleague.split.map(&:capitalize).join(' '), projects_path(filter: colleague.split.map.first) %></li>
  <% end %>
<% end %>
