<div class="scroll-container">

            <% if @project_images.length > 1 %>

            <p>Previous Versions</p>

            <% else %>

            <p>There are no previous versions</p>

            <% end %>

            <% @project_images.each_with_index do |img, idx| %>

            <% if idx > 0 || params[:display_image].present? %>

              <% unless @first_image == img %>
            <div class="side-card">
            <%= link_to old_image_project_path(@project,img)  do %>
             <%= cl_image_tag(img.photo, width: 200, crop: :fill, class: 'swap-image') %>

             <% end %>
             <p><%= img.created_at.strftime("%B %d %Y %k:%M") %></p>
             <div class="swap-image">view version</div>

           </div>

           <% end %>

           <% end %>

           <% end %>

         </div>
