
<%= simple_form_for  :search_bar, :url => projects_path, method: :get, html: {class: 'sub-search'} do |f| %>

  <%= f.input :dates,  label_html: {class: 'sr-only'  }, input_html: { class: 'secondnavbar thin-form ', name: "daterange", value: "#{DateTime.now.strftime("%m/%d/%Y")} - #{(DateTime.now+1).strftime("%m/%d/%Y")}"} %>

  <button type="submit" class="secondnavbar btn grey-button">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
<% end %>















