<% content_for(:title_tag) do %>
My projects | Adsmash
<% end %>

<div id="sbwrapper">
      <div id="sidebar-wrapper" class="sidebar">
          <ul class="sidebar-nav">
             <%= render 'sidebarindex' %>
          </ul>
      </div>
      <div id="page-content-wrapper">
          <div class="page-content">
          <%#= render 'shared/secondnavbar'%>

              <div class="container-fluid">
                  <div class="row">
                    <% if @projects.present? %>
                      <div class="col-md-12">
                          <!-- content of page -->
                           <div class="project-search-results">
                              <% @projects.each do |project| %>
                                <div class="col-xs-12 col-sm-4 ">
                                  <%= render "project_search_result_card", project: project %>
                                </div>
                                <% end %>
                            </div>
                      </div>
                    <% else %>
                      <div class="col-md-4 col-md-offset-4">
                        <div class="project-card" style="padding: 20px; margin-top: 100px">
                        <p style="text-align: center">You don't have any project so far :(</p>
                        <div class="btn-add-project">Create a new project</div>
                        </div>
                      </div>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>

<% content_for :after_js do %>
<script>
var activity = {};
    setInterval(function(){

      $.ajax({
        method: "GET",
        url: "<%= notifications_path %>",
        success: function (data) {

          //for activity count per project

          var projects_to_update = [];
          var counter = {};


        for (var obj in data) {
          projects_to_update.push(data[obj].notifiable)
          activity[data[obj].id] = [data[obj].notifiable, data[obj].actor, data[obj].action]
        };

        for (var i = 0; i < projects_to_update.length; i++) {
          counter[projects_to_update[i]] = counter[projects_to_update[i]] + 1 || 1
        }
          // console.log(counter)
          for(var prop in counter){
            $('.cnt' + prop).text(counter[prop])
          }

          console.log(activity);

        },
          error: function(jqXHR) {
      alert(jqXHR.responseText);
        }
      });
    }, 20000);
</script>
<% end %>
