
    <% x = request.referrer %>
<br>
<h3> All your projects </h3>

<br>

    <!--     @notifications.each do |notification|

    if request.referrer == project_path(notification.notifiable)

    end -->


    <% @users  %>
  <div id="wrapper2">
    <div class="container">
      <div class="row">
        <div class="boat-search-results">
          <% @projects.each do |project| %>
          <div class="col-xs-12 col-sm-4 ">
            <%= render "project_search_result_card", project: project %>
          </div>
          <% end %>
        </div>
     </div>
   </div>
  </div>
