.foot {

 height: 150px;
 background: black;
 background-color: #333031;
 right: 0;
 bottom: 0;
 left: 0;
 margin-bottom: 0;

}

.foot .fa

{
  color:lightgray;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  bottom: -40px;

}

 .lewagon
{

  color:lightgray;
  margin: 50px;
  padding-left: 20px;



}

.foot ul {

   padding-left: 40px;
}

