.red-button {
  border-radius: 0px;
  background-color: #FF3A1A;
  color: white !important;
  font-size: 16px;
  letter-spacing: 1;
  font-weight: 400;

  // transition: all 0.3s ease;
}

.grey-button {
  /*border-radius: 0px !important;*/
  background-color: $smash-red;
  font-size: 16px;
  letter-spacing: 1;
  font-weight: 400;
  color: white;
   transition: all 0.3s ease;
  &:hover{
    color: $gray_palette;
    background-color: $smash-red-hover;
  }
  // transition: all 0.3s ease;
}

.btn-add-project {
  color: #fff;
  background-color: red;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  width: auto
}
