.project-search-result-card {
  color: black;

}
.project-card {
  border: 1px solid #ccc;
  margin: 4%;
  padding: 3%;

}

.notifications {
  border: 1px solid #ccc;
  color: red;
  float: right;



}

.deadline {

  color: black;
  font-weight: 300;
}

.project-name {
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;

}
.project-brand {
    font-weight: 300;
    font-size: 16px;


}

.project-last-image {



  .img {
    width: 100%;
  }
}
