.thin-form{
  border-radius: 0px;
  color: #1E1F24;
  font-family: lato;
  font-size: 16px;
  letter-spacing: 1;
  font-weight: 300;
  border: 0.5px solid $gray_palette !important;
  width: 150%;

  // transition: all 0.3s ease;
}

